//====================================================================================================
.footer {
    &__container {
        .slogan {
            font-size: rem(16);
            font-weight: 600;
            margin-bottom: rem(40);
        }

        .invitation {
            font-family: Roboto;
            font-size: rem(14);
            font-weight: 400;
            margin-bottom: rem(70);
        }

        .to-read {
            color: #1060C1;
            margin-bottom: rem(20);
        }

        .logos-block {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: rem(70);
            min-height: rem(25);

            img {
                height: 100%;
                // width: auto;
            }
        }

        .info {
            display: flex;
            justify-content: space-between;
        }

        .col-1,
        .col-2 {
            display: flex;
            flex-direction: column;
        }

        .name {
            h2 {
                font-size: rem(48);
                font-weight: 700;
            }

            font-size: rem(12);
        }

        .col-2 {
            .connect {
                display: flex;
                font-weight: 600;
            }
        }

        .subscription {}

        .social {}

        .content,
        .social {
            display: flex;
        }

        .about-company {}

        .to-customers {}

        .useful-info {}

        .help {}

    }
}

//====================================================================================================