//====================================================================================================
.footer {
    &__container {
        .slogan {
            font-size: rem(16);
            font-weight: 600;
            margin-bottom: rem(40);
        }

        .invitation {
            font-family: Roboto;
            font-size: rem(14);
            font-weight: 400;
            margin-bottom: rem(70);
        }

        .to-read {
            color: #1060C1;
            margin-bottom: rem(20);
        }

        .logos-block {
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: rem(70);
            min-height: rem(25);

            img {
                height: 100%;
                // width: auto;
            }
        }

        .info {
            display: flex;
            justify-content: space-between;
        }

        .col-1,
        .col-2 {
            display: flex;
            flex-direction: column;
        }

        .name {
            h2 {
                font-size: rem(48);
                font-weight: 700;
            }

            font-size: rem(12);
        }

        .col-1 {
            flex-grow: 1;
        }

        .col-2 {
            flex-grow: 3;

            .connect {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-weight: 700;
                font-size: rem(18);
                margin-bottom: rem(30);
            }

            .social {
                display: flex;
                align-items: center;
                gap: rem(20);

                div {
                    display: flex;
                    gap: rem(5);
                }
            }

            .subscription {
                input {
                    border: 2px solid #ccc;
                    border-radius: rem(10);
                    padding: rem(10) rem(20);
                    outline: none;
                    /* убираем стандартную обводку */
                }

                input::placeholder {
                    color: #000;
                }

                button {
                    background-color: hsl(0, 0%, 50%);
                    border: 2px solid hsl(0, 0%, 50%);
                    border-radius: rem(10);
                    padding: rem(10) rem(40);
                    color: #fff;
                }
            }
        }



        .content,
        .social {
            display: flex;
            gap: rem(100);
        }

        .content {
            &>div {
                display: flex;
                flex-direction: column;
                gap: rem(20);
                font-weight: 600;
            }

            .heading {
                font-family: Roboto;
                font-size: rem(14);
                font-weight: 700;
            }
        }

        .about-company {}

        .to-customers {}

        .useful-info {}

        .help {}

    }
}

//====================================================================================================